@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.bgImage {
  position: absolute;
  top: -200px;
  min-width: 120%;
}

.sectionHome {
  min-height: 100vh;
  background-color: #f3f4f6;
}

.sectionAbout {
  min-height: 100vh;
  background-color: #e5e7eb;
}

.sectionServices {
  min-height: 100vh;
  background-color: #d1d5db;
}

.sectionContact {
  min-height: 100vh;
  background-color: #9ca3af;
}

.animatedSection {
  text-align: left;
  will-change: transform, opacity;
  animation: fadeInUp 500ms forwards;
}

.title {
  font-weight: normal;
  margin: 0;
}
